body {
    background-color: rgb(204, 204, 204);
}

.centered {
    text-align: center;
}

.no-bullet {
    list-style-type: none;
}

.audio-player, .video-player {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
